.mainContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1024px;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
.infoContainer {
  background-color: #bcb9d8;
}
.avatarPhoto {
  border-radius: 150px;
  border: solid 5px #5b618b;
  margin: 25px 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.header h1 {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 26px;
}
.header h2 {
  margin: 10px 0;
  font-family: "Roboto Mono", monospace;
}
.contactsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactsDiv h3 {
  color: #5b618b;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}
.contactsDiv li {
  margin: 15px 0;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
.about h3 {
  color: #5b618b;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}
.about p {
  margin: 15px 0;
  width: 60%;
  font-family: "Playfair Display", serif;
  font-size: 15px;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.detailsContainer h3 {
  color: #5b618b;
  text-transform: uppercase;
  border-bottom: 2px solid #5b618b;
  font-family: "Roboto Mono", monospace;
}
.detailsContainer ul {
  list-style-type: circle;
}
.professionalSkillsDiv {
  margin-bottom: 20px;
}
.professionalSkillsDiv li {
  font-family: "Playfair Display", serif;
}
.educationDiv {
  margin-bottom: 20px;
}
.education h4 {
  margin: 10px 0 5px 0;
}
.education a {
  color: #000000;
}
.education p {
  font-family: "Playfair Display", serif;
  font-size: 15px;
}
.languages {
  margin-bottom: 20px;
}
.languages li {
  margin: 5px 0;
  font-family: "Playfair Display", serif;
}
.finishedProjectDiv h3 {
  color: #5b618b;
  text-transform: uppercase;
  border-bottom: 2px solid #5b618b;
  font-family: "Roboto Mono", monospace;
}
.finishedProjectDiv li {
    margin: 5px 0;
    font-family: "Playfair Display", serif;
  }
  .finishedProjectDiv a {
    color: #000000;
  }
.footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #545454;
  padding: 25px;
  width: 1024px;
  margin: 0 auto;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
.footerLinks {
  max-height: 45px;
  width: auto;
}
.footerLinks a {
  text-decoration: none;
}
.footerLinks {
  height: 50px;
  width: 50px;
}
.footerLinks p {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.rsschoolLogo {
  width: 80px;
  height: auto;
  filter: invert(1);
}
