.footer_container {
  width: 100%;
  background: radial-gradient(circle at 15% center, #513d2f 0%, #1a1a1c 100%);
}
.footer_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  height: 350px;
}
.footer_info {
  display: flex;
  width: 62%;
  justify-content: space-between;

}
.footer_questions {
  max-width: 278px;

}
.footer_questions h3 {

  color: var(--white);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.footer_questions ul {
  padding-left: 0px;
  margin-block-start: 0;
  margin-block-end: 0;

}
.footer_questions li {

  display: flex;
  max-width: 251px;
}
.footer_questions li h5 {
  color: var(--mandys_pink);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer_questions a {
  text-decoration: none;
  width: 100%;
  /* padding: 0px 26px 6px 0px; */
}
.footer_locations {
  max-width: 302px;

}
.footer_locations h3 {

  color: var(--white);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

}
.footer_locations ul {
  padding-left: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer_locations li {
  max-width: 302px;
}
.footer_locations li h5 {
  color: var(--mandys_pink);
  margin-left: 15px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer_locations li img {
  max-width: 22px;
  max-height: 32px;
}

.footer_locations a {
  text-decoration: none;
  width: 100%;
}
.footer_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer_link img {
  padding-right: 20px;
}
.footer_dog img {
  margin-top: 10px;
}