.notOnly_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    font-family: var(--Georgia);
}
.notOnly_info {
    max-width: 460px;
}
.notOnly_info h2{
font-size: 44px;
color: var(--white);
line-height: 64px;
max-width: 310px;
}
.notOnly_info p {
    margin: 42px 0;
    color: var(--silver);
    font-size: 15px;
    line-height: 30px;
}
.notOnly_btn {
    background-color: var(--mandys_pink);
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: none;
    color: var(--mine_shaft);
}
